.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  color: white;
  font-size: 1.2rem;
}

.newTweetContainer{
  width : 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.cuicuiInput{
  width: 100%;
  height: 2.5rem;
  color : white;
  background-color: #171f2b;
  border: none;
  border-bottom: 1px solid #657786;
}

.submitTweet {
  display : flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
}

.tweetButton{
  background-color: #75beef;
  height: 1.6rem;
  width: 5rem;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight : bold;
}

.tweetLength {
  color: white;
  font-size: 0.8rem;
}