.tweet {
    width: 100%;
    padding: 1.5rem;
    border-top: 0.1px solid #657786;
}

.infos {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
}



.text {
    color: white;
    font-size: 0.8rem;
}

/* .likes{
    display: flex;
    gap: 1rem;
} */

.iconHeart {
    color: white;
}

.numberLikes{
    color: white;
}